{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <title>Compress PDF Online - FileSwapr</title>
    <meta name="description" content="Reduce the file size of your PDF documents online for free with FileSwapr's PDF compressor. Fast and efficient.">
{% endblock %}

{% block content %}
    <div class="single-tool-section">
        <header class="text-center mb-5">
            <h1><i class="fas fa-file-compress text-primary"></i> Compress PDF</h1>
            <p class="lead">Reduce the file size of your PDF for easy sharing.</p>
        </header>
        <form method="post" action="{{ url_for('compress_pdf') }}" enctype="multipart/form-data">
            <div class="mb-4">
                <label for="pdfFile" class="form-label fs-5">Upload PDF File</label>
                <input type="file" name="pdf" id="pdfFile" accept=".pdf" class="form-control form-control-lg" required>
            </div>
            <button type="submit" class="btn btn-primary w-100 btn-lg"><i class="fas fa-arrow-down"></i> Compress PDF</button>
        </form>
    </div>
{% endblock %}